@import 'tailwindcss';
@import '@a1rth/css-normalize';

* {
	box-sizing: border-box;
}

body {
	background-color: #01122e;
}

.backgroundEffect {
	filter: blur(4px);
}

.languageSelect img {
	height: 30px;
	width: 100%;
}