@import 'tailwindcss';
@import '@a1rth/css-normalize';

* {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
}

body {
	background-color: #01122e;
	margin: 0;
	padding: 0;
}

.backgroundEffect {
	filter: blur(4px);
}

.languageSelect img {
	height: 30px;
	width: 100%;
}

.loader-day {
	width: 60px;
	aspect-ratio: 1;
	display: grid;
	border-radius: 50%;
	background: radial-gradient(circle 15px, #ffd738 90%, #0000);
	filter: drop-shadow(0px 0px 1px #ffd738);
	animation: l2 1s infinite alternate linear;
}
.loader-day::before,
.loader-day::after {
	content: '';
	grid-area: 1/1;
	border-radius: 50%;
	--g: no-repeat linear-gradient(#ffd738 0 0) 50%;
	background:
		var(--g) / 100% 5px,
		var(--g) / 5px 100%;
	-webkit-mask: radial-gradient(farthest-side, #0000 60%, #000 61%);
	mask: radial-gradient(farthest-side, #0000 60%, #000 61%);
}
.loader-day::after {
	transform: rotate(45deg);
}
@keyframes l2 {
	100% {
		filter: drop-shadow(0px 0px 20px #ffd738);
	}
}

.loader-night {
	width: 50px;
	aspect-ratio: 1;
	display: flex;
	filter: drop-shadow(0px 0px 1px #8d847f);
	animation: l3 1s infinite alternate linear;
}
.loader-night:before {
	content: '';
	flex: 1;
	background: #8d847f;
	border-radius: 50%;
	-webkit-mask: radial-gradient(
		circle closest-side at 66% 40%,
		#0000 115%,
		#000 118%
	);
	mask: radial-gradient(circle closest-side at 66% 40%, #0000 115%, #000 118%);
}
@keyframes l3 {
	100% {
		filter: drop-shadow(0px 0px 20px #8d847f);
	}
}

.errorWrapper h1 {
	font-family: 'SN Pro', sans-serif;
	font-weight: bold;
}

.errorWrapper p {
	font-family:
		'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slicesWrapper div {
	background-color: hsl(217, 95%, 15%);
	transform: translateX(-100%);
	width: 100%;
	height: 25%;
	box-shadow: inset 0px 0px 5px black;
}
